<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Reservamos Movie Night</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <h1>Movie Night - Monterrey Sur</h1>
      <hr />
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Pelicula</th>
            <th scope="col">Cines</th>
            <th scope="col">Rotten Score</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {{#each movies}}
            <tr>
              <td>{{this.title}}</td>
              <td>
                <ul>
                {{#each this.theaters}}
                  <li>{{this}}</li>
                {{/each}}
                </ul>
              </td>
              <td>
                {{#if this.rtScore}}
                  {{#if this.rotten}}
                    <img src="http://localhost:3000/rotten.png" alt="Rotten movie" />
                  {{else}}
                    <img src="http://localhost:3000/fresh.png" alt="Rotten movie" />
                  {{/if}}
                  {{this.rtScore}}%
                {{else}}
                  No disponible
                {{/if}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </body>
</html>
